DEBUG=True
DJANGO_SECRET_KEY=replace-with-a-secure-random-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost



TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_BARBER_CHAT_ID=your_telegram_chat_id_here

# Необов'язковий пароль для першого входу (якщо не використовується білий список)
TELEGRAM_INVITE_TOKEN=